Dispatcher fails to match if the query parameter or query values have different casing

### Describe the bug

When using the mock URL to get responses, the query casing has to match exactly. I was using an existing client that invoked the mock url with lower case but the example used upper case. The resulting message said response doesn't exist.

### Expected behavior

Query parameter matching is case-insensitive

### Actual behavior

Got message the response doesn't exist

### How to Reproduce?

Set up Mock responses
Copy the curl to clipboard
Paste but change the casing in the query parameter
Run curl command - Get error that response doesn't exist

### Microcks version or git rev

1.10.0-fix-1

### Install method (`docker-compose`, `helm chart`, `operator`, `docker-desktop extension`,...)

open shift image

### Additional information

_No response_

Hi @etidalgo 
Thanks for raising this issue! Can you be a bit more specific: are you talking about query or path parameter? If it's the query parameter: are you talking about the parameter name or the parameter value? Ideally, could you provide examples of CURL commands using one of our samples like the Pastry API?
Thank you!

Hi, I read the title and explanations once again and I assume we're only talking about query parameter names and values - eg. `?foo=bar`, `foo` being the query parameter name and `bar` being the query parameter value.

I did some research and I don't think this is actually a bug but that both query parameter name and value must be case-sensitive.

Looking at the RFC for URIs, [section 6.2.2.1](https://www.rfc-editor.org/rfc/rfc3986#section-6.2.2.1) says:

> [6.2.2.1](https://www.rfc-editor.org/rfc/rfc3986#section-6.2.2.1).  Case Normalization
> 
> For all URIs, the hexadecimal digits within a percent-encoding
   triplet (e.g., "%3a" versus "%3A") are case-insensitive and therefore
   should be normalized to use uppercase letters for the digits A-F.
>
> When a URI uses components of the generic syntax, the component
   syntax equivalence rules always apply; namely, that the scheme and
   host are case-insensitive and therefore should be normalized to
   lowercase.  For example, the URI <HTTP://www.EXAMPLE.com/> is
   equivalent to <http://www.example.com/>.  The other generic syntax
   components are assumed to be case-sensitive unless specifically
   defined otherwise by the scheme (see [Section 6.2.3](https://www.rfc-editor.org/rfc/rfc3986#section-6.2.3)).

To me, it says that only the scheme ("http" here), the hostname, and the URI-encoded values are case-insensitive.
The rest is case-sensitive unless you use a different scheme that explicitly says it should be insensitive.

Looking at the RFC for HTTP, [section 2.7.3](https://www.rfc-editor.org/rfc/rfc7230#section-2.7.3) says:

> [section 2.7.3](https://www.rfc-editor.org/rfc/rfc7230#section-2.7.3) http and https URI Normalization and Comparison
>
> Since the "http" and "https" schemes conform to the URI generic
   syntax, such URIs are normalized and compared according to the
   algorithm defined in [Section 6 of [RFC3986]](https://www.rfc-editor.org/rfc/rfc3986#section-6), using the defaults
   described above for each scheme.
>
>  If the port is equal to the default port for a scheme, the normal
   form is to omit the port subcomponent.  When not being used in
   absolute form as the request target of an OPTIONS request, an empty
   path component is equivalent to an absolute path of "/", so the
   normal form is to provide a path of "/" instead.  The scheme and host
   are case-insensitive and normally provided in lowercase; all other
   components are compared in a case-sensitive manner.  Characters other
   than those in the "reserved" set are equivalent to their
   percent-encoded octets: the normal form is to not encode them (see
   Sections [2.1](https://www.rfc-editor.org/rfc/rfc7230#section-2.1) and [2.2](https://www.rfc-editor.org/rfc/rfc7230#section-2.2) of [[RFC3986](https://www.rfc-editor.org/rfc/rfc3986)]).

This also confirms to me that "all other components are compared in a case-sensitive manner."

Have you found some contradictory specifications or recommendations?